@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');

#numberEntry{
    width: 83.4vw;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 25px;
    border: 2px solid black;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

#generate{
    width: 84vw;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 25px;
    border: 2px solid red;
    text-align: center;
    cursor: pointer;
    background-color: darkcyan;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}

#chat{
    display: block;
    width: 82vw;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 25px;
    border: 2px solid red;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: seagreen;
}

#whatsappBackground{
    width: 84vw;
    height: 80vh;
    filter: invert(0%);
}